In [ ]:
: Write a Python program to remove duplicates from a list.
INPUT: a = [10,20,30,20,10,50,60,40,80,50,40]
OUTPUT: {40, 10, 80, 50, 20, 60, 30}

In [1]:
a = [10,20,30,20,10,50,60,40,80,50,40]
dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)
print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

In [37]:
a = [10,20,30,20,10,50,60,40,80,50,40]
dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)
print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

In [ ]:
Write a Python program to sum all the items in a list.
INPUT: [1,2,-8]

In [38]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,-8]))

-5

In [ ]:
Write a Python program to count the number of strings from a given list of
strings with length 2 or more and the first and last characters are the same.
INPUT: ['abc', 'xyz', 'aba', '1221]

In [39]:
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

In [ ]:
Write a Python program to print a specified list after removing the 0th, 4th
and 5th elements.
INPUT: ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [14]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (a,x) in enumerate(color) if a not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

In [ ]:
Q. Write a Python program to print the numbers of a specified list after removing
even numbers from it.
INPUT: [7,8, 120, 25, 44, 20, 27]

In [40]:
num = [7,8, 120, 25, 44, 20, 27]
num = [x for x in num if x%2!=0]
print(num)

[7, 25, 27]

In [ ]:
Q. Write a Python program to get unique values from a list.
INPUT: [10, 20, 30, 40, 20, 50, 60, 40]

In [18]:
my_list = [10, 20, 30, 40, 20, 50, 60, 40]
my_set = set(my_list)
my_new_list = list(my_set)
print("unique numbers : ",my_new_list)

unique numbers :  [40, 10, 50, 20, 60, 30]

In [ ]:
. Write a Python program to convert a list of characters into a string.
INPUT: ['a', 'b', 'c', 'd']

In [20]:
s = ['a', 'b', 'c', 'd']
str = ''.join(s)
print(str)

abcd

In [ ]:
Q. Write a Python program to calculate the difference between the two lists.
INPUT:
list1 = [1, 3, 5, 7, 9]
list2 = [1, 2, 4, 6, 7, 8]

In [23]:
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

[9, 3, 5, 8, 2, 4, 6]

In [ ]:
Write a Python program to get the frequency of elements in a list.
INPUT: [1, 2, 3, 2, 4, 1, 3, 5, 2, 3, 4, 1]

In [31]:
import collections
my_list = [1, 2, 3, 2, 4, 1, 3, 5, 2, 3, 4, 1]
ctr = collections.Counter(my_list)
print(ctr)

Counter({1: 3, 2: 3, 3: 3, 4: 2, 5: 1})

In [ ]:
Write a Python program to find common items in two lists.
INPUT:
color1 = "Red", "Green", "Orange", "White"
color2 = "Black", "Green", "White", "Pink"

In [32]:
color1 = "Red", "Green", "Orange", "White"
color2 = "Black", "Green", "White", "Pink"
print(set(color1) & set(color2))

{'Green', 'White'}

In [ ]:
Write a Python program to create a list by concatenating a given list with a
range from 1 to n.
INPUT : ['p', 'q'] and n =5

In [34]:
my_list = ['p', 'q']
n = 5
new_list = ['{}{}'.format(x, y) for y in range(1, n+1) for x in my_list]
print(new_list)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [ ]:
Write a Python program to convert a list of multiple integers into a single
integer.
INPUT: [11, 33, 50]

In [19]:
a = [11,33,50]
for i in a:
    output =int("".join (str(i)))
    print(output)

11
33
50

In [ ]:
Write a Python program to split a list into different variables.
INPUT: color = [("Black", "#000000", "rgb(0, 0, 0)"), ("Red", "#FF0000", "rgb(255,
0, 0)"), ("Yellow", "#FFFF00", "rgb(255, 255, 0)")]

In [47]:
color = [("Black", "#000000", "rgb(0, 0, 0)"), ("Red", "#FF0000", "rgb(255, 0, 0)"),
         ("Yellow", "#FFFF00", "rgb(255, 255, 0)")]
var1, var2, var3 = color
print(var1)
print(var2)
print(var3)

('Black', '#000000', 'rgb(0, 0, 0)')
('Red', '#FF0000', 'rgb(255, 0, 0)')
('Yellow', '#FFFF00', 'rgb(255, 255, 0)')

In [ ]:
Write a Python program to split a list every Nth element.
INPUT: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n'

In [49]:
X = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
def list_slice(S, step):
    return [S[i::step] for i in range(step)]
print(list_slice(X,3))

[['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

In [ ]:
Write a Python program to unpack a tuple into several variables.
INPUT: (4,8,3)

In [53]:
tuple = 4, 8, 3 
print(tuple)
A1, A2, A3= tuple

(4, 8, 3)

In [ ]:
Write a Python program to check whether an element (5) exists within a tuple.
INPUT: ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")

In [54]:
tuple = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print(5 in tuple)

False

In [ ]:
Write a Python program to reverse a tuple.
INPUT: (5,10,15,20)

In [3]:
x= (5,10,15,20)
y= list(x)
y.reverse()
Z=tuple (y)
print (Z)

(20, 15, 10, 5)

In [4]:
Write a Python program to print a tuple with string formatting.
INPUT: (100, 200, 300)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (468691757.py, line 1)

In [5]:
A = (100, 200, 300)
print('This is a tuple {0}'.format(A))

This is a tuple (100, 200, 300)

In [ ]:
Write a Python program to remove an empty tuple(s) from a list of tuples.
INPUT: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]

In [66]:
X = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
X = [t for t in X if t]
print(X)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [ ]:
Write a Python program to convert a given string to a tuple.
INPUT: “Shailja”

In [41]:
input_string = "Shailja"
output_tuple = tuple(input_string)
print(output_tuple)

('S', 'h', 'a', 'i', 'l', 'j', 'a')

In [ ]:
. Write a Python program to compute the element-wise sum of given tuples.
INPUT:
(1, 2, 3, 4)
(3, 5, 2, 1)
(2, 2, 3, 1)

In [5]:
x = (1,2,3,4)
y = (3,5,2,1)
z = (2,2,3,1)
print("\noutput:")
result = tuple(map(sum, zip(x, y, z)))
print(result)

output:
(6, 9, 8, 6)

In [ ]:
Write a Python program to convert a given list of tuples to a list of lists.
Grow Data Skil s
INPUT: [(1, 2), (2, 3), (3, 4)]

In [12]:
def test(lst_tuples):
    result = [list(el) for el in lst_tuples]
    return result
lst_tuples = [(1,2), (2,3), (3,4)]
print("output:")
print(test(lst_tuples))

output:
[[1, 2], [2, 3], [3, 4]]

In [ ]:
Q. Write a Python program to remove an item from a set if it is present in the set.
INPUT: 0, 1, 2, 3, 4, 5}

In [20]:
num_set = set([0, 1, 2, 3, 4, 5])
print("\nRemove 2 from the said set:")
print(num_set)
print("\nRemove 7 from the said set:")
print(num_set)

Remove 2 from the said set:
{0, 1, 2, 3, 4, 5}

Remove 7 from the said set:
{0, 1, 2, 3, 4, 5}

In [ ]:
Write a Python program to check if a set is a subset of another set.
INPUT:
x: {'mango', 'apple'}
y: {'mango', 'orange'}
z: {'mango'}

In [26]:
print("OUTPUT:\n")
setx = set(["apple", "mango"])
sety = set(["mango", "orange"])
setz = set(["mango"])
print("If x is subset of y")
print(setx <= sety)
print("\nIf y is subset of z")
print(sety <= setz)
print("If z is subset of y")
print(setz <= sety)

OUTPUT:

If x is subset of y
False

If y is subset of z
False
If z is subset of y
True

In [ ]:
Write a Python program to remove all elements from a given set at once.
INPUT: {'Green', 'Black', 'Red', 'White'}

In [31]:
setc = {"Red", "Green", "Black", "White"}
print("output:")
setc.clear()
print(setc)

output:
set()

In [36]:
x = {1,2,3,4}
y = {4,5,6,7}
z = {8}
print("0utput:")
print(x.isdisjoint(y))

0utput:
False

In [ ]:
Write a Python program to check if a given value(10) is present in a set or not.
INPUT:{1, 3, 5, 7, 9, 11}

In [54]:
set = {1, 3, 5, 7, 9, 11}
print("Test if 10 is in set")
print(10 in set)

Test if 10 is in set
False

In [ ]:
Q. Write a Python program to remove all duplicates from a given list of strings
and return a list of unique strings. Use the Python set data type.
INPUT: ['Python', 'Exercises', 'Practice', 'Solution', 'Exercises']

In [56]:
mylist = ['Python', 'Exercises', 'Practice', 'Solution', 'Exercises']
mylist = list(dict.fromkeys(mylist))
print(mylist)

['Python', 'Exercises', 'Practice', 'Solution']

In [ ]:
. Write a Python script to add a key to a dictionary.
Input: 0: 10, 1: 20}
Output: {0: 10, 1: 20, 2: 30}

In [3]:
d = {0:10, 1:20}
d.update({2:30})
print(d)

{0: 10, 1: 20, 2: 30}

In [ ]:
Write a Python script to concatenate the following dictionaries to create a
new one.
Input:
dic1= {1:10, 2:20}
dic2= {3:30, 4:40}
dic3={5:50,6:60}

In [4]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
. Write a Python script to check whether a given key (10) already exists in a
dictionary.
Input: 1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
Output:” Key 10 is not present in the dictionary”

In [16]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
  if x in d:
      print('Key 10 is present in the dictionary')
  else:
      print("Key 10 is not present in the dictionary")

is_key_present(10)

Key 10 is not present in the dictionary

In [ ]:
Write a Python program to remove a key(age) from a dictionary.
Input:
'name': 'John Doe',
'age': 30,
'occupation': 'Software Engineer',
'email': 'john@example.com',
'is_employed': True

In [17]:
input_dict = {
'name': 'John Doe',
'age': 30,
'occupation': 'Software Engineer',
'email': 'john@example.com',
'is_employed': True
}
key_to_remove = 'age'
del input_dict[key_to_remove]
print(input_dict)

{'name': 'John Doe', 'occupation': 'Software Engineer', 'email': 'john@example.com', 'is_employed': True}

In [ ]:
Write a Python program to remove duplicates from the dictionary.
Input: {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2, 'f': 4}
Output: {'a': 1, 'b': 2, 'd': 3, 'f': 4}

In [19]:
dict1 = {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2, 'f': 4}

temp = []
res = dict()
for key, val in dict1.items():
    if val not in temp:
        temp.append(val)
        res[key] = val

print(res)

{'a': 1, 'b': 2, 'd': 3, 'f': 4}

In [ ]:
Write a Python program to get the maximum and minimum values of a
dictionary.
Input: {‘u’:1000,’v’:3000,'x':500, 'y':5874, 'z': 560}
Output:

In [23]:
input_dict = {'u': 1000, 'v': 3000, 'x': 500, 'y': 5874, 'z': 560}
max_value = max(input_dict.values())
min_value = min(input_dict.values())
print("Maximum Value:", max_value)
print("Minimum Value:", min_value)

Maximum Value: 5874
Minimum Value: 500

In [ ]:
Write a Python program to check if a dictionary is empty or not.
Input: my_dict = {}

In [28]:
my_dict = {}
if not (my_dict):
    print("Dictionary is empty")

Dictionary is empty

In [ ]:
Write a Python program to create a dictionary of keys x, y, and z where each
key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the
fifth value of each key from the dictionary.
Input:
{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],
'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],
'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]}

In [33]:
input_dict = {'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],
'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],
'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]}
value_x = input_dict['x'][4]
value_y = input_dict['y'][4]
value_z = input_dict['z'][4]
print(value_x)
print(value_y)
print(value_z)

15
25
35

In [ ]:
Write a Python program to drop empty items from a given dictionary.
Input: {'c1': 'Red', 'c2': 'Green', 'c3': None}
Output: {'c1': 'Red', 'c2': 'Green'}

In [35]:
i_d = {'c1': 'Red', 'c2': 'Green', 'c3': None}
o_d = {key: value for key, value in i_d.items() if value is not None}
print(o_d)

{'c1': 'Red', 'c2': 'Green'}

In [ ]:
Write a Python program to filter a dictionary based on values>170
Input : {'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox':
190}

In [37]:
i_d = {'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}
o_d = {key: value for key, value in i_d.items() if value > 170}
print(o_d)

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [ ]:
Write a Python program to verify that all values in a dictionary are the
same(Interview Question)
Input: {'Cierra Vega': 12, 'Alden Cantrell': 12, 'Kierra Gentry': 12, 'Pierre Cox': 12}
Output: “ All values are 12”

In [41]:
input_dict = {'Cierra Vega': 12, 'Alden Cantrell': 12, 'Kierra Gentry': 12, 'Pierre Cox': 12}
if len(set(input_dict.values())) == 1:
    print("All values are", list(set(input_dict.values()))[0])
else:print("Values are not the same")

All values are 12

In [ ]:
Question   Write a Python program to convert string values of a given dictionary into
integer/float datatypes.
INPUT:
[{'x': '10', 'y': '20', 'z': '30'}, {'p': '40', 'q': '50', 'r': '60'}]

In [ ]:
output

In [4]:
input_list = [{'x': '10', 'y': '20', 'z': '30'}, {'p': '40', 'q': '50', 'r': '60'}]
output_int_list = [{key: int(value) for key, value in d.items()} for d in input_list]
output_float_list = [{key: float(value) for key, value in d.items()} for d in input_list]
print("String values of a given dictionary, into integer types:")
print(output_int_list)
print("String values of a given dictionary, into float types:")
print(output_float_list)

String values of a given dictionary, into integer types:
[{'x': 10, 'y': 20, 'z': 30}, {'p': 40, 'q': 50, 'r': 60}]
String values of a given dictionary, into float types:
[{'x': 10.0, 'y': 20.0, 'z': 30.0}, {'p': 40.0, 'q': 50.0, 'r': 60.0}]

In [2]:
Actual Output

SyntaxError: invalid syntax (939349037.py, line 1)

In [3]:
String values of a given dictionary, into integer types:
[{'x': 10, 'y': 20, 'z': 30}, {'p': 40, 'q': 50, 'r': 60}]
String values of a given dictionary, into float types:
[{'x': 10.12, 'y': 20.23, 'z': 30.0}, {'p': 40.0, 'q': 50.19, 'r': 60.99}]

SyntaxError: invalid syntax (3468303255.py, line 1)

In [ ]:
Q. Write a Python program to filter even numbers from a dictionary of values.
INPUT: {'V': [1, 4, 6, 10], 'VI': [1, 4, 12], 'VII': [1, 3, 8]}
OUTPUT:{'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}

In [50]:
input_dict = {'V': [1, 4, 6, 10], 'VI': [1, 4, 12], 'VII': [1, 3, 8]}
output_dict = {key: [num for num in value if num % 2 == 0] for key, value in
input_dict.items()}
print(output_dict)

{'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}

In [ ]:
Q. Write a Python program to count the number of characters (character
frequency) in a string.
INPUT: google.com
OUTPUT: {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [7]:
def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
Write a Python program to get a string made of the first 2 and last 2
characters of a given string. If the string length is less than 2, return the empty
string instead.
INPUT: 'w3resource'
OUTPUT : 'w3ce'
INPUT: 'w3'
OUTPUT: 'w3w3'

In [10]:
input_string = 'w3resource'
output_string = input_string[:2] + input_string[-2:] if len(input_string) >= 2 else ''
print(string_both_ends('w3resource'))
print(string_both_ends('w3'))
print(string_both_ends('w'))

w3ce
w3w3

In [ ]:
Q. Write a Python program to remove the 5
th
index character from a nonempty
string.
INPUT:’Python’
OUTPUT: Pytho

In [15]:
def remove_char(str, n):
      first_part = str[:n] 
      last_part = str[n+1:]
      return first_part + last_part
print(remove_char('Python', 5))

Pytho

In [ ]:
Q. Write a Python program to count the occurrences of each word in a given
sentence.
INPUT: ‘the quick brown fox jumps over the lazy dog.’
OUTPUT: {'the': 2, 'jumps': 1, 'brown': 1, 'lazy': 1, 'fox': 1, 'over': 1, 'quick': 1,
'dog.': 1}

In [27]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

In [ ]:
. Write a Python function to insert a string in the middle of a string.
Grow Data Skil s
INPUT: '[[]]', 'Python')
OUTPUT: [[Python]]

In [34]:
original = '[[]]'
to_insert = 'Python'
middle_index = len(original) // 2
output_string = original[:middle_index] + to_insert + original[middle_index:]
print(output_string)

[[Python]]

In [ ]:
Q. Write a Python function to reverse a string if its length is a multiple of 4.
INPUT:’python’
OUTPUT:’nohtyp’

In [ ]:
Output

In [41]:
def reverse_string_if_length_multiple_of_4(input_string):
    if len(input_string) % 4 == 0:
        return input_string[::-1]
    else:
        return input_string
        input_string = 'python'
output_string = reverse_string_if_length_multiple_of_4(input_string)
print(output_string)

python

In [ ]:
actual output: nohtyp

In [ ]:
Q. Write a Python program to check whether a string starts with specified
characters (grow)
INPUT:” growdataskills”

In [46]:
input_string = "growdataskills"
specified_characters = "grow"
print(input_string.startswith(specified_characters))

True

In [ ]:
Write a Python program to reverse words in a string.
INPUT: "The quick brown fox jumps over the lazy dog."
OUPUT: “dog. lazy the over jumps fox brown quick The”

In [49]:
input_string = "The quick brown fox jumps over the lazy dog."
words = input_string.split()
output_string = ' '.join(reversed(words))
print(output_string)

dog. lazy the over jumps fox brown quick The

In [ ]:
Write a Python program to check whether a string contains all letters of the
alphabet(Interview Question).
INPUT: 'The quick brown fox jumps over the lazy cat

In [50]:
input_string = 'The quick brown fox jumps over the lazy cat'
alphabet = set('abcdefghijklmnopqrstuvwxyz')
output_bool = set(input_string.lower()) >= alphabet
print(output_bool)

False

In [ ]:
Write a Python program to count and display vowels in text.
INPUT: resource

In [51]:
input_string = 'resource'
vowels = 'aeiou'
vowel_count = sum(char in vowels for char in input_string)
vowel_list = [char for char in input_string if char in vowels]
print(vowel_count, '->', vowel_list)

4 -> ['e', 'o', 'u', 'e']